* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input:disabled {
  background-color: initial;
}

input::-ms-clear {
  display: none;
}

button {
  color: inherit;
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button:disabled {
  cursor: default;
  pointer-events: none;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

svg {
  flex-shrink: 0;
  vertical-align: top;
}

th {
  font-weight: inherit;
  text-align: inherit;
}

address {
  font-style: inherit;
}
