$color-base: #101010;

$color-accent: #E2BEFF;

$color-grey: #E8E8E8;
$color-grey-light: #F3F3F3;

$color-white: #FFFFFF;

$indent-xs: 4px;
$indent-x: 8px;
$indent-m: 12px;
$indent-l: 16px;
$indent-xl: 24px;
$indent-2xl: 32px;